{% extends "base.html" %}

{% block body %}
<div class="container text-center my-4">
    <img src="/static/img/3.jfif" class="d-block w-100" alt="Image of Icy Mountains" style="border-radius: 11px;">
    <div class="container my-4">
        <h1 style="background-color: bisque;border-radius: 11px;">Contact Us</h1>
    </div>
</div>

<div class="container" style="background-color: bisque;border-radius: 11px;">
    <div class="container my-4">
        <form method="POST" action="/contact">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
            </div>

            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control" id="desc" name="desc" placeholder="Contact purpose" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-danger" style="margin: 5px;bottom: 5px;bottom: 5p;bottom: 5;">Submit
            </button>

        </form>
    </div>
</div>
{% endblock body %}

{% block title %}
Contact Us
{% endblock title %}

