{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<!--Starting Carausal-->
<div class="container-fluid my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/3.jfif" class="d-block w-100" alt="Image of Icy Mountains"
                     style="border-radius: 11px;">
            </div>

        </div>
    </div>
</div>

<!--Starting Albums-->

<div class="container text-center">
    <div class="container my-4">
        <h1 style="background-color: bisque;border-radius: 11px;">Select from the range of Ice Creams</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/img/3.jfif" class="d-block w-100" alt="Image of Icy Mountains">
                <div class="card-body" style="background-color: bisque;">
                    <p class="card-text">In this we offer various types of Ice Creams</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ice Creams</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/img/1.jfif" class="d-block w-100" alt="Image of Icy Mountains">
                <div class="card-body" style="background-color: bisque;">
                    <p class="card-text">In this we offer various kinds of Softies</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Softies</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/static/img/2.jfif" class="d-block w-100" alt="Image of Icy Mountains">
                <div class="card-body" style="background-color: bisque;">
                    <p class="card-text">In this we offer various kinds of Family Packs</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Family Packs</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock body %}



